<a href="https://colab.research.google.com/github/juliet29/es96back/blob/master/ES96_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [0]:
# get data from the database, can change the text after the question mark to query for different things 
url = "https://es96app.herokuapp.com/justdata?username=ES96"

payload = {}
headers= {}

response = requests.request("GET", url, headers=headers, data = payload)

In [0]:
# uncomment below to see the data in json() format 
# response.json()

In [103]:
# turn the response into a pandas dataframe 
response_df = pd.json_normalize(response.json())

# view the first n rows of this dataframe
n = 5 # can change this to see more rows
display(response_df.head(n))

                        _id  ... ripenessState
0  5ea3c02dfaa771d0b9cff84e  ...           NaN
1  5ea3c05efaa771d0b9cff84f  ...           NaN
2  5ea3c0a1462c0faaf038aacf  ...           NaN
3  5ea3c0e4462c0faaf038aad0  ...           NaN
4  5ea3c108faa771d0b9cff850  ...           NaN

[5 rows x 10 columns]

In [104]:
# see total number of (rows, columns) in the dataframe 
response_df.shape

(197, 10)

In [0]:
# create a dataframe that has only the info you care about 
legit_df = pd.DataFrame()
for row in range(165,197): 
  # REALLY IMPORTANT: use if statements (not shown) to verify the response_df.data column has the nessecary params. 
  # here, from looking at the entire response_df (changing n to be 197 above), I can see that rows 165 - 197 have the most complete information

  # expand the response_df.data from one column into many
  a = pd.json_normalize(response_df.data[row][0])
  # add additional parameters from the response that you might care about 
  a.insert(0, 'scan_id', response_df.scan_id[row], True) 
  a.insert(1, 'ripenessState', response_df.ripenessState[row], True) 
  # append the data by row 
  legit_df = legit_df.append(a, ignore_index = True)

In [106]:
# view the first 5 rows of this dataframe
display(legit_df.head(5))

  scan_id  ripenessState  ...  sound_attenuation stage
0    mr10            NaN  ...              27.10     2
1     mh3            NaN  ...              33.57     2
2    mr11            NaN  ...              30.91     2
3    mr12            NaN  ...              30.88     2
4     mh2            NaN  ...              31.49     2

[5 rows x 7 columns]